<div class="row panel large-12">
	<h6> Resellers (<%= Reseller.count %>) </h6>
</div>
<br/>

<div class="row large-12">
<table class="responsive large-12">
  <thead>
    <tr>
      <th>Reseller Logo</th>
      <th>Reseller Name</th>
      <th>Website</th>
      <th >Marketing Type</th>
      <th >Checkout Type</th>
      <th >Details</th>
    </tr>
  </thead>
   <tbody>
		<% @resellers.each do |r| %>
		 <tr>
		 	<td><%= 

		 		if r.logo_url === "nill" || r.logo_url === "#" || r.logo_url.to_s.length < 2
		 			image_tag("http://www.ecreativeim.com/blog/wp-content/uploads/2011/05/image-not-found.jpg", :width => "100", :height => "100") 
		 		else
		 			image_tag(r.logo_url, :width => "100", :height => "100") 
		 		end

		 	%></td>
			<td><%= link_to r.name, r %></td>
			<td><%=link_to "Website", r.website , :target => "_blank" %></td>
			<td><%=r.marketing_type%></td>
			<td><%=r.checkout_type%></td>
			<td><%= link_to "View", r,  :class => "button tiny round" %></td>
		 </tr>
		<% end %>
	</tbody>
</table>
</div>