<h1>All Resellers (<%=Reseller.count%>)</h1>


<table width="700">
  <thead>
    <tr>
      <th width="200">Reseller Name</th>
      <th>Website</th>
      <th width="150">Marketing Type</th>
      <th width="150">Checkout Type</th>
    </tr>
  </thead>
   <tbody>
		<% @resellers.each do |r| %>
		 <tr>
		 	<td><%= 
		 		if r.logo_url === "nill" || r.logo_url === "#"
		 			image_tag("http://www.wacom.com/~/media/WTC/Images/Products/notavailable_500x500.jpg?mw=210") 
		 		else
		 			
		 			image_tag(r.logo_url) 
		 		end
		 	%></td>
			<td><%= link_to r.name, r %></td>
			<td><%=link_to "Website", r.website , :target => "_blank" %></td>
			<td><%=r.marketing_type%></td>
			<td><%=r.checkout_type%></td>
		 </tr>
		<% end %>
	</tbody>
</table>