<div class="row panel large-12">
	<h6> Resellers (<%= Reseller.count %>) </h6>
</div>
<br/>

<div class="row large-12">
<table width="800" class="large-12">
  <thead>
    <tr>
      <th width="200">Reseller Logo</th>
      <th width="200">Reseller Name</th>
      <th>Website</th>
      <th width="150">Marketing Type</th>
      <th width="150">Checkout Type</th>
      <th width="150">Details</th>
    </tr>
  </thead>
   <tbody>
		<% @resellers.each do |r| %>
		 <tr>
		 	<td><%= 

		 		if r.logo_url === "nill" || r.logo_url === "#" || r.logo_url.to_s.length < 2
		 			image_tag("http://www.wacom.com/~/media/WTC/Images/Products/notavailable_500x500.jpg?mw=210") 
		 		else
		 			image_tag(r.logo_url) 
		 		end

		 	%></td>
			<td><%= link_to r.name, r %></td>
			<td><%=link_to "Website", r.website , :target => "_blank" %></td>
			<td><%=r.marketing_type%></td>
			<td><%=r.checkout_type%></td>
			<td><%= link_to "View", r,  :class => "button small round" %></td>
		 </tr>
		<% end %>
	</tbody>
</table>
</div>