
<div class="row panel">
    <ul class="breadcrumbs">
  <li><%= link_to "Resellers", resellers_path %></li>
  <li class="unavailable"><a href="#"><%=@reseller.name %></a></li>
</ul>
    <div class="small-2 large-5 columns">
     <h4>#<%= @reseller.id%> <%= @reseller.name %></h4><br>
        <%= link_to "Edit Reseller", edit_reseller_path( @reseller ) %> | <%= link_to_unless(@reseller.website.nil?, "Website", @reseller.website ) %>
        <br>
        Marketing Type: <%= @reseller.marketing_type %>
        Since <%= @reseller.created_at %>
     </p>
     <span class="label"><%= @usercount%> Users</span>
     <span class="label"><%= @sites.count%> Sites</span>
     <span class="label"><%= @invoices.count%> Invoices</span>
    </div>

  <div class="small-6 large-4 columns">
    <div class="panel callout">
        <h6>Address</h6>
        <p><%= @reseller.address %></p>
    </div>
  </div>
</div>
<br><br>
<div class="section-container auto" data-section>




  <section>
    <p class="title" data-section-title><a href="#panel2">Users (<%=  @users.count%>)</a></p>
    <div class="content" data-section-content>
    <table width="99%">
      <thead>
        <tr>
          <th width="200">User Login</th>
          <th>Role</th>
          <th>Edit</th>
          <th>Purchase Status</th>
          <th>Member Since</th>
        </tr>
      </thead>
       <tbody>
            <% @users.each do |u| %>
             <tr>
                <td><%= link_to((u.login.nil? ? "No Login" : u.login), u) %></td>
                <td><%= u.get_role %></td>
                <td><%= link_to("Edit User", edit_user_path(u) , :target => "_blank" ) %></td>
                <td><%= u.purchased.nil? ? "Not Purchased Yet" : "Purchased" %></td>
                <td><%= u.created_at.strftime("%m/%d/%Y")  %></td>
             </tr>
            <% end %>
        </tbody>
    </table>
    </div>
  </section>



    <section>
    <p class="title" data-section-title><a href="#panel3">Sites (<%=  @sites.count%>)</a></p>
    <div class="content" data-section-content>
     
       <table width="99%">
          <tr>
            <thead>
            <td> Site id </td>
            <td> Practice Name </td>
            <td> Specialty </td>
            <td> Checkout Status </td>
            <td> Billing Status </td>
            <td> View Details </td>
          </thead>
          </tr>

      <% @sites.each do |site| 
        if (site["has_purchased"] == 1)
            checkout = "Has completed checkout"
        else
            checkout = "Has not completed checkout"
        end
      %>
      
      <tr>
        <td><%= site["id"] %></td>
        <td><%= site["practice_name"] == nil ? 'N/A' : site["practice_name"] %></td>
        <td><%= site["specialty"] %></td>
        <td><%= checkout %></td>
        <td><%= site["site_standing"] == '' ? 'Editor' : site["site_standing"].capitalize %></td>
        <td> <a href="/sites/show/<%=site["id"] %>" class="btn button"> View </a></td>
      </tr> 
    
     <% end %>

    </table>
    </div>
  </section>

<section>
    <p class="title" data-section-title><a href="#panel2">Invoices (<%=  @invoices.count%>)</a></p>
    <div class="content" data-section-content>

      <br/>

       <table width="99%">
          <tr>
            <thead>
            <td> Invoice Id </td>
            <td> Site id </td>
            <td> Note </td>
            <td> Total </td>
            <td> Status </td>
            <td> View Details </td>
          </thead>
          </tr>

      <% @invoices.each do |i| %>

       <% if i["invoice_status"] == 1
          status = "Paid"
        else
          status = "Unpaid"
        end %>

      <tr>
        <td><%= i["id"] %></td>
        <td><%= i["site_id"] %></td>
        <td><%= i["invoice_note"] %></td>
        <td><%= i["total"] %></td>
        <td><%= status %></td>
        <td><%= link_to("View Details", invoice_path(
        :invoice_id => i["id"], 
        :reseller_id => @reseller.id
        )) %></td>
      </tr> 
      <% end %>
    </table>


      
    </div>
  </section>

</div>