<div class="row panel large-12">
  <ul class="breadcrumbs">
    <li><%= link_to "Resellers", resellers_path %></li>
    <li><%= link_to @reseller.name, resellers_path(@reseller.id) %></li>
    <li class="unavailable"><a href="#"> Invoices </a> </li>
  </ul>
    
    <div class="small-2 large-12 row columns">
     <h4>#<%= @reseller.id%> <%= @reseller.name %> - Invoice Details (Invoice Id: <%= @invoice_id %> )</h4><br>
     <p><b>Site id:</b> <%= @invoice.site_id %></br>
     <b>User Id:</b> <%= @invoice.user_id %></p> 

  <% 
    if @invoice.invoice_status == 1
      status = "Paid"
      div_class = "success label"
    else
      status = "Unpaid"
      div_class = "alert label"
    end
  %>

      <span class="label">Total: $<%= @invoice.total%></span>
     <span class="label <%= div_class %> "> Status: <%= status%></span>
     <br/><br/>
     <h6>Invoice Note: <%= @invoice.invoice_note %></h6><br/>


    </div>
 </div>

<br/>
<div class="row large-12 ">
  <h6> Details </h6>
<table class="large-12">
  <thead>
  <tr>
   <th> Description </th>
   <th> Quantity </th>
   <th> Amount </th>
  </tr>
</thead>

<% @details.each do | d | %>
  <tr>
  <td><%= d.description%> </td>
  <td><%= d.quantity%> </td>
  <td>$<%= d.cost%> </td>
  </tr>
<% end %>
</table>
</div>

