<div class="row panel">
	<h4>Editing User <%= @user.login %></h4>


<%= simple_form_for(@user, :url => {:action => 'update'}) do |f| %>

	<%=f.hidden_field :id %>

	<%=f.input :login %><br>
	<%=f.button :submit %>
<% end %>
</div>