<div class="row panel large-12">
	<h6>Editing User <%= @user.login %></h6>
	<br/>
	<%= simple_form_for(@user, :url => {:action => 'update'}) do |f| %>
	<%=f.hidden_field :id %>
	<%=f.input :login %><br>
	<%=f.button :submit, :class => "button small round" %>
<% end %>
</div>

