<div class="row panel columns">
 
  <h6> Viewing User: <%= @user.login.nil? ? "This User has not registered yet" : @user.login %></h6>
  <br/>
  <h6> Details: </h6>
  <h5 class="subheader">Account created on <%=@user.created_at.strftime("%m/%d/%Y") %><br/>
  Account updated on <%=@user.updated_at.strftime("%m/%d/%Y") %></h5>

</div>

 
<div class="row columns">

   <h6> Login History: </h6>

   <div class="small-12">
		<table class="large-12 responsive"  >
		      <thead>
		        <tr>
		          <th >Login Date</th>
		          <th>Ip Address</th>
		          <th>Location</th>
		        </tr>
		      </thead>
		       <tbody>
		            <% @logins.each do |u| %>
		             <tr>
		                <td><%= u['created_at'].nil? ? "" : u['created_at'].strftime("%m/%d/%Y") %></td>
		                <td><%= u.ip_address %></td>
		                <td><%= u.location %></td>
		              
		             </tr>
		            <% end %>
		        </tbody>
		    </table>
		</div>
   

</div>