<div class="row panel">
    <ul class="breadcrumbs">
  <li><%= link_to "Resellers", resellers_path %></li>
  <li class=""><%=link_to @user.reseller.name, reseller_path(@user.reseller) %></a></li>
  <li class="current"><a href="#"><%= @user.login.nil? ? "Unregistered": @user.login %></a></li>
  <br/><br/>
  <h4><%= @user.login.nil? ? "This User has not registerred yet" : @user.login %></h4>
  <h5 class="subheader">Account created on <%=@user.created_at.strftime("%m/%d/%Y") %><br/>
  Account updated  on <%=@user.updated_at.strftime("%m/%d/%Y") %></h5>
</ul>
</div>