<div class="row panel large-12">
	<h6> Edit Coupon </h6>
	<p>Name: <%= @coupon.name %></br/>
	Coupon Code: <%= @coupon.code %></br/>
	Description: <%= @coupon.description %><br/>
</div>
<br/>

<div class="row large-12">
	<h6>Update Coupon Details</h6>

	<%= form_for(@coupon, :method => "post", :url => {:action => "updateCoupon", :controller => "coupons"}) do |f| %>

		<p>
			<%=f.hidden_field :id%>
		</p>

		<div class="row">
		  <div class="small-3 large-6 columns">
		  	<%=f.label :name%>
			<%=f.text_field :name%>
		  </div>
		  <div class="small-4 large-6 columns">
		  	<%=f.label "Coupon Code"%>
			<%=f.text_field :code%>
		  </div>
		</div>

			<div class="row">
		  <div class="small-3 large-6 columns">
			<%=f.label "Coupon Discount"%>
			<%=f.text_field :discount%>
		  </div>


		  <div class="small-4 large-6 columns">
			<%=f.label "Discount Type "%>
			 <%= select("coupon", "discount_type",Coupon::DISCOUNT_TYPE.collect {|p| [ p[:name], p[:value] ] },  {}) %>
		  </div>
		</div>


		<div class="row">
		  <div class="small-3 large-6 columns">
			<%=f.label "Site Type Id "%>
			 <%= select("coupon", "site_type_id",  Coupon::SITE_TYPE_ID.collect {|p| [ p[:name], p[:value] ] },  {}) %>
		  </div>
		  <div class="small-4 large-6 columns">
			<%=f.label "Status"%>
			 <%= select("coupon", "status",Coupon::STATUS.collect {|p| [ p[:name], p[:value] ] },  {}) %>
		  </div>
		</div>

	<div class="row">
	
		  <div class="small-4 large-6 columns">
			<%=f.label "Start Date"%>
			<%=f.text_field :start_date, :class => "date datepicker" %>
		  </div>


		  <div class="small-3 large-6 columns">
			<%=f.label "End Date"%>
			<%=f.text_field :end_date, :class => "date datepicker"%>
		  </div>
		  
		  
		</div>


		<div class="row">

			 <div class="small-3 large-12 columns">
			<%=f.label "Description"%>
			<%=f.text_field :description%>
		  </div>

		</div>
	

	
		<p>
			<%=f.submit "Update", :class => "button small round" %>
		</p>
	<% end %>


</div>