<div class="row panel large-12">
 <h6>Coupons (<%=Coupon.count%>) </h6>
</div>
<br/>

<div class="row large-12">
<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="240">Discount %</th>
      <th width="150">Description</th>
      <th width="150">Starts</th>
      <th width="150">Expires</th>
      <th width="150">Status</th>
      <th width="150">Edit</th>
      <th width="150">Delete</th>
    </tr>
  </thead>
   <tbody>
		<% @coupons.each do |r| %>
		 <tr>
			<td><%= r.name %></td>
			<td><%=r.discount%></td>
      <td><%=r.description.to_s.capitalize %></td>
			<td><%=r.start_date %></td>
      <td><%=r.end_date %></td>
      <td><%=r.status.to_s.capitalize %></td>
      <td><%= link_to "Edit", edit_coupon_path(r),  :class => "button small round" %></td>
      <td> <a href="deleteCoupon/<%=r.id %>" class="small button round"> Delete </a> </td>
		 </tr>
		<% end %>
	</tbody>
</table>
</div>