<div class="row panel large-12">
	<h6> Edit Product </h6>
	<p>Name: <%= @product.name %></br/>
	Description: <%= @product.description %><br/>
	Product Type: <%= @product.product_type %><br/>
	Price: $<%= number_with_precision(@product.price, :precision => 2) %>
</div>
<br/>

<div class="row large-12">
<h6>Update Product Details</h6>

<%= form_for(@product, :method => "post", :url => {:action => "updateProduct", :controller => "products"}) do |f| %>


	<p>
		<%=f.hidden_field :id%>
	</p>

	<p>
		<%=f.label :name%>
		<%=f.text_field :name%>
	</p>
	<p>
		<%=f.label :description%>
		<%=f.text_field :description%>
	</p>
	<p>

	  <%=f.label :product_type%>
		<%=f.select(:product_type, Product::PRODUCT_TYPES, :class => "button dropdown")%>
	 
	</p>
	<p>
		<%=f.label :price%>
		<%=f.text_field :price%>
	</p>
	<p>
		<%=f.submit "Update", :class => "button small round" %>
	</p>
<% end %>
</div>