<h1>Edit Product</h1>
<p><%= @product.name %></br/>
<%= @product.description %><br/>
$<%= number_with_precision(@product.price, :precision => 2) %></br/>

<h1>Update Product Details</h1>

<%= form_for(@product, :method => "post", :url => {:action => "updateProduct", :controller => "products"}) do |f| %>


	<p>
		<%=f.hidden_field :id%>
	</p>

	<p>
		<%=f.label :name%>
		<%=f.text_field :name%>
	</p>
	<p>
		<%=f.label :description%>
		<%=f.text_field :description%>
	</p>
	<p>
		<%=f.label :product_type%>
		<%=f.text_field :product_type%>
	</p>
	<p>
		<%=f.label :price%>
		<%=f.text_field :price%>
	</p>
	<p>
		<%=f.submit "Update"%>
	</p>
<% end %>