<h1>Products</h1>
<h1 class="subheader">All Products (<%= @products.count %>)</h1>
<%=link_to "New +", new_product_path %>
<br><br>
<table border="1">
	<thead>
		<tr>
			<th>Name</td>
			<th>Price</td>
			<th>Edit</td>
		</tr>
	</thead>
	<% @products.each do | product | %>
	<tr>
		<td><%= product.name %></td>
		<td>$<%= product.price %></td>
		<td><%= link_to "Edit", edit_product_path(product) %></td>
	</tr>
	<% end %>
</table>