<div class="row panel large-12">
	<h6> Create a new product </h6>
</div>
<br/>

<div class="row large-12">
<%= form_for(@product, :method => "post", :url => {:action => "create"}) do |f| %>


	<div class="row">
	  <div class="small-3 large-6 columns">
	  	<%=f.label :name%>
		<%=f.text_field :name%>
	  </div>

	   <div class="small-3 large-6 columns">
	    <%=f.label :price%>
		<%=f.text_field :price%>
	  </div>
	 
	</div>


	<div class="row">
	   <div class="small-4 large-6 columns">
	  <%=f.label :product_type%>
		<%=f.select(:product_type, Product::PRODUCT_TYPES, :class => "button dropdown")%>
	  </div>
	  <div class="small-4 large-6 columns">
	  <%=f.label :code%>
		<%=f.text_field :code%>
	  </div>
	</div>


	<div class="row">

		<div class="small-3 large-6 columns">
	   	 <%=f.label :recurring%>
		 <%=f.select(:recurring, Product::RECCURING, :class => "button dropdown")%>
	  </div>

	   <div class="small-4 large-6 columns">
	  	<%=f.label :recurring_amount%>
		<%=f.text_field :recurring_amount%>
	  </div>

	</div>

	<div class="row">

	  <div class="small-3 large-12 columns">
	  <%=f.label :description%>
		<%=f.text_field :description%>
	  </div>

	</div>


	<p>
		<%=f.submit "Create", :class => "button small round" %>
	</p>
<% end %>
</div>