<div class="row panel">
    <ul class="breadcrumbs">
		<h3> View Site Id:  <%= @site.id %></h3>	
		<p>Practice Name: <%= @site.practice_name %> <br/>
		Specialty : <%= @site.specialty %> <br/>
		Standing : <%= @site.site_standing %> <br/>
		Created On : <%= @site.created_at.strftime("%m/%d/%Y") %> <br/>
		Updated On : <%= @site.updated_at.strftime("%m/%d/%Y") %> <br/>
		<p>Page Count: (<%= @pages.size %>) </p>


		<h2> Invoices (<%=@invoices.size %>) </h2>
		<table style="width:99%">
		  <thead>
		  <tr>
		   <th> Description </th>
		   <th> Amount </th>
		   <th> Created on </th>
		  </tr>
		</thead>

		<% @invoices.each do | d | %>
		  <tr>
		  <td><%= d.invoice_note%> </td>
		  <td><%= d.quantity%> </td>
		  <td>$<%= d.created_at%> </td>
		  </tr>
		<% end %>
		</table>
	</ul>
</div>


