<!DOCTYPE html>
<html>
<head>
  <title>Leoadmin</title>

  
  <%= stylesheet_link_tag "stylesheets/foundation.css", :media => "all" %>
  <%= stylesheet_link_tag "stylesheets/responsive-tables.css", :media => "all" %>
  <%= stylesheet_link_tag "stylesheets/normalize.css", :media => "all" %>


  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <%= javascript_include_tag "javascripts/foundation.min.js", :media => "all" %>
  <%= javascript_include_tag "javascripts/foundation/foundation.dropdown.js", :media => "all" %>
  <%= javascript_include_tag "javascripts/foundation/foundation.topbar.js", :media => "all" %>
  <%= javascript_include_tag "javascripts/foundation/responsive-table.js", :media => "all" %>
  <%= javascript_include_tag "javascripts/foundation/foundation.tooltip.js", :media => "all" %>
  <%= javascript_include_tag "javascripts/foundation/foundation.tab.js", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
<nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <%= link_to "Leonardo Administration", root_path %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">

        <li class="divider"></li>
        <li class="has-dropdown">
         <%= link_to "Resellers", resellers_path %>
          <ul class="dropdown">
            <li><label>Resellers</label></li>
            <li><%=link_to "Resellers", resellers_path %></li>
            <li><%= link_to "New Reseller", new_reseller_path %></li>
            <li class="divider"></li>
            <li><label>Coupons</label></li>
            <li><%=link_to "Coupons", coupons_path %></li>
            <li><%=link_to "New Coupon", new_coupon_path %></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Products</a>
          <ul class="dropdown">
          	<li><%= link_to "All Products", products_path %></li>
            <li><%= link_to "New Product", new_product_path %></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

  <!-- End Top Bar -->

<br/>

  <!-- Main Page Content and Sidebar -->

  <div class="columns">

    <!-- Contact Details -->
    <div class="row">
      <div class="large-10 columns">
  		<%= yield %>
      </div>
 
    <!-- End Contact Details -->


    <!-- Sidebar -->
    <div class="large-2 columns">
	
		<ul class="side-nav">
      <li> <h4>Stats</h4> </li>
      <li>(<%=Site.count%>) Sites </li>
      <li>(<%=User.count%>) Users </li>
      <li>(<%=Reseller.count%>) Resellers</li>
      <li>(<%=Product.count%>) Products</li> 
		</ul>
    </div>
    <!-- End Sidebar -->
  </div>
     </div>

  <!-- End Main Content and Sidebar -->
  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright  MedNet Dev Team</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="http://mednet">Intranet</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer -->

  <script>
    $(document).foundation();
     jQuery(document).foundation();
  </script>
  <script>
      $(document).foundation().foundation('joyride', 'start');
    </script>
</body>
</html>
